{% extends 'base.html.twig' %}

{% block title %}Failer{% endblock %}

{% block body %}
    {# This is where your Symfony form or other content might go #}
    <div class="alert alert-danger" role="alert">
        Oups ! Une erreur est survenue.
    </div>
{% endblock %}
