/* styles.css */






.btn {
    display: inline-block;
    background-color: #2c3e50; /* Couleur du bouton */
    color: #fff;
    height: 50px;
    padding: 12px 24px; /* Ajustez le rembourrage du bouton */
    border-radius: 12px; /* Augmentez le rayon de la bordure pour un look plus moderne */
    text-decoration: none;
    transition: background-color 0.3s; /* Ajouter une transition pour le changement de couleur au survol */
}




.custom-select {
    height: 30px;
    border-radius: 3px; /* Augmentez le rayon de la bordure pour un look plus moderne */
    /* Ajustez la hauteur selon vos préférences */
    /* Autres styles de la dropdown */
}  