
{% block title %}Modifier un evenement {% endblock %}

{% block body %}
    <h1>Modifier un evenement</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}