{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    <form method="post">
        <label for="nom">Name:</label>
        <input type="text" id="nom" name="nom" value="{{ admin.nom }}" required>

        <label for="telephone">Phone:</label>
        <input type="number" id="telephone" name="telephone" value="{{ admin.telephone }}" required>

        <label for="image">Image:</label>
        <input type="text" id="image" name="image" value="{{ admin.image }}" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ admin.email }}" required>

        <button type="submit">Save</button>
    </form>
{% endblock %}