{# templates/offre/success.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Succès{% endblock %}

{% block body %}
    <h1>Votre offre a été ajoutée avec succès!</h1>
    <p>Merci pour votre contribution.</p>
{% endblock %}
