{% extends 'base.html.twig' %}

{% block title %}Modifier un cours{% endblock %}

{% block body %}
    <h1>Modifier un cours</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}
